<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>home page </title>
</head>

<body>
	<section class="banner d-flex  align-items-center">
		<div class="text-center">
			<h1 class="fw-bold"><i>Smart Contact Manager</i></h1>
			<h5 class="mx-5 my-3">Start collecting your contacts in very smarter way. we provide very efficient <br> and smarter
				way of handling contacts . </h5>
			<a th:href="@{/user/dashboard}" class="btn bg-primary btn-lg text-white">Get start</a>
		</div>
	</section>
</body>

</html>